@tailwind base;
@tailwind components;
@tailwind utilities;

/* get tesla font, go to tesla.com, open dev tools, sources, cdn-design.tesla.com, assets, open first file in new tab, download, save in asset folder */
@font-face {
    font-family: 'Gotham Book';
    src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
    font-family: 'Gotham Book';
}